<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>CreateProcess</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.CreateProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProcess</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContinueProcess</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ContinueProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContinueProcess</servlet-name>
		<url-pattern>/continue</url-pattern>
	</servlet-mapping>

</web-app>
