<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>StartProcess</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.StartProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartProcess</servlet-name>
		<url-pattern>/startProcess</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReceiveContractConditions</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ReceiveContractConditionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveContractConditions</servlet-name>
		<url-pattern>/receiveContractConditions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RequestAdditionalInformation</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.RequestAdditionalInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestAdditionalInformation</servlet-name>
		<url-pattern>/requestAdditionalInformation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReceiveAdditionalInformation</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ReceiveAdditionalInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveAdditionalInformation</servlet-name>
		<url-pattern>/receiveAdditionalInformation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImplementationResponse</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ImplementationResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImplementationResponse</servlet-name>
		<url-pattern>/implementationResponse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReceiveCompleteArtwork</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ReceiveCompleteArtworkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveCompleteArtwork</servlet-name>
		<url-pattern>/receiveCompleteArtwork</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerFeedbackArtwork</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.CustomerFeedbackArtworkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerFeedbackArtwork</servlet-name>
		<url-pattern>/customerFeedbackArtwork</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AgencyBillReceived</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.AgencyBillReceivedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgencyBillReceived</servlet-name>
		<url-pattern>/receiveAgencyBill</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReceiveCustomerPayment</servlet-name>
		<servlet-class>org.wwu.wfm.group10.iss.servlet.ReceiveCustomerPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveCustomerPayment</servlet-name>
		<url-pattern>/receiveCustomerPayment</url-pattern>
	</servlet-mapping>
	
</web-app>
